@function wt-to-list($value, $keep: 'both') {
	$keep: if(index('keys' 'values', $keep), $keep, 'both');

	@if type-of($value) == 'map' {
		$keys: ();
		$values: ();

		@each $key, $val in $value {
			$keys: append($keys, $key);
			$values: append($values, $val);
		}

		@if $keep == 'keys' {
			@return $keys;
		} @else if $keep == 'values' {
			@return $values;
		} @else {
			@return zip($keys, $values);
		}
	}

	@return if(type-of($value) != 'list', ($value,), $value);
}

@function wt-strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}

@function wt-list-value($list, $index) {
	$newList: ();
	@for $i from 1 through length($list) {
		@if $i != $index {
			$newList: append($newList, nth($list,$i), 'space');
		}
	}
	@return $newList;
}

@function wt-list-values($list) {
	$valuesArray: ();
	@while length($list) > 0 {
		$value: nth($list,1);
		@each $item in $list {
			@if $item < $value {
				$value: $item;
			}
		}
		$valuesArray: append($valuesArray, $value, 'space');
		$list: wt-list-value($list, index($list, $value));
	}
	@return $valuesArray;
}

@function wt-map-list($map) {
	$keys: wt-list-values(map-keys($map));
	$keysArray: ();
	@each $key in $keys {
		$keysArray: map-merge($keysArray, ($key: map-get($map, $key)));
	}
	@return $keysArray;
}

@function wt-breakpoints($map) {
	$keys: map-keys($map);

	$m: (map-get($map, nth($keys, 2)) - map-get($map, nth($keys, 1)))/(nth($keys, 2) - nth($keys,1));
	$b: map-get($map, nth($keys, 1)) - $m * nth($keys, 1);

	$sign: "+";
	@if ($b < 0) {
		$sign: "-";
		$b: abs($b);
	}

	@return calc(#{$m*100}vw #{$sign} #{$b});
}

@function wt-automatic-count($frame, $map) {
	
}