* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  padding: 10px; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.auto-writing-input {
  float: left;
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  padding-top: 3px; }
  .auto-writing-input .no-highlight {
    border-right: 1px solid black; }
    .auto-writing-input .no-highlight.blink {
      animation: blinking 1s;
      animation-iteration-count: infinite; }
@keyframes blinking {
  10% {
    border-right: 1px solid transparent; }
  50% {
    border-right: 1px solid transparent; }
  60% {
    border-right: 1px solid black; }
  100% {
    border-right: 1px solid black; } }
  .auto-writing-input .highlight {
    background: #b4d7ff; }

/*# sourceMappingURL=writing-animation.css.map */
