* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.thumbnail-gallery {
  display: contents; }

.glr .img {
  float: left;
  height: 90px;
  width: 160px;
  margin: 10px;
  padding: 4px;
  background-color: #646464;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer; }

.lightbox {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1; }
  .lightbox.active {
    display: block; }
  .lightbox button {
    display: block;
    background: none;
    text-align: center;
    border: 0;
    color: white;
    cursor: pointer; }
  .lightbox .exit {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 30px;
    font-size: 25px; }
    .lightbox .exit span {
      display: block;
      height: 4px;
      width: 100%;
      position: absolute;
      border-radius: 1px;
      background: white; }
      .lightbox .exit span:first-of-type {
        top: calc(50% - 2px);
        transform: rotate(45deg); }
      .lightbox .exit span:last-of-type {
        bottom: calc(50% - 2px);
        transform: rotate(-45deg); }
  .lightbox .previous {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    line-height: 50px;
    font-size: 40px; }
    .lightbox .previous .sipka {
      display: block;
      height: 20px;
      width: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      border-left: 3px solid white;
      border-bottom: 3px solid white; }
  .lightbox .next {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    line-height: 50px;
    font-size: 40px; }
    .lightbox .next .sipka {
      display: block;
      height: 20px;
      width: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      border-right: 3px solid white;
      border-bottom: 3px solid white; }
  .lightbox .full {
    max-height: calc(100% - 140px);
    max-width: calc(100% - 100px);
    position: absolute;
    left: 50%;
    top: calc(50% - 55px);
    transform: translate(-50%, -50%); }
  .lightbox .lightbox-gallery {
    height: 110px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    background: #323232;
    word-spacing: -0.30em; }
    .lightbox .lightbox-gallery .lightbox-gallery-slider {
      white-space: nowrap;
      overflow: hidden;
      transition: left .5s ease;
      position: absolute;
      bottom: 0;
      left: 0; }
    .lightbox .lightbox-gallery .img {
      display: inline-block;
      height: 90px;
      width: 160px;
      margin: 10px;
      padding: 4px;
      border: 4px solid #646464;
      background-color: #646464;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer; }
      .lightbox .lightbox-gallery .img.active {
        padding: 0;
        border: 4px solid red; }

/*# sourceMappingURL=lightbox.css.map */
