*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.thumbnail-gallery{
    display: contents;
}

.glr .img{
    float: left;
    height: 90px;
    width: 160px;
    margin: 10px;
    padding: 4px;
    background-color: rgb(100,100,100);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.lightbox{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
	left: 0;
    background: rgba(0,0,0,.8);
    z-index: 1;
    &.active{
        display: block;
    }
    button{
        display: block;
        background: none;
        text-align: center;
        border: 0;
        color: white;
        cursor: pointer;
    }
    .exit{
        height: 30px;
        width: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        line-height: 30px;
        font-size: 25px;
        span{
            display: block;
            height: 4px;
            width: 100%;
            position: absolute;
            border-radius: 1px;
            background: white;
            &:first-of-type{
                top: calc(50% - 2px);
                transform: rotate(45deg);
            }
            &:last-of-type{
                bottom: calc(50% - 2px);
                transform: rotate(-45deg);
            }
        }
    }
    .previous{
        height: 50px;
        width: 50px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        line-height: 50px;
        font-size: 40px;
        .sipka{
            display: block;
            height: 20px;
            width: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            border-left: 3px solid white;
            border-bottom: 3px solid white;
        }
    }
    .next{
        height: 50px;
        width: 50px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        line-height: 50px;
        font-size: 40px;
        .sipka{
            display: block;
            height: 20px;
            width: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            border-right: 3px solid white;
            border-bottom: 3px solid white;
        }
    }
    .full{
        max-height: calc(100% - 140px);
        max-width: calc(100% - 100px);
        position: absolute;
        left: 50%;
        top: calc(50% - 55px);
        transform: translate(-50%, -50%);
    }
    .lightbox-gallery{
        height: 110px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 20px;
        background: rgb(50,50,50);
        word-spacing: -0.30em;
        .lightbox-gallery-slider{
            white-space: nowrap;
            overflow: hidden;
            transition: left .5s ease;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .img{
            display: inline-block;
            height: 90px;
            width: 160px;
            margin: 10px;
            padding: 4px;
            border: 4px solid rgb(100,100,100);
            background-color: rgb(100,100,100);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            &.active{
                padding: 0;
                border: 4px solid red;
            }
        }
    }
} 