*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel{
    width: 300px;
    margin: 50px auto;
    position: relative;
    .items{
        width: 300px;
        height: 240px;
        position: relative;
        overflow: hidden;
        word-spacing: -0.3em;
        white-space: nowrap;
    }
    .item{
        display: inline-block;
        width: 300px;
        height: 240px;
        white-space: normal;
        word-spacing: 0;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 100%;
        &.active{
            left: 0;
        }
        &:first-of-type{
            background: rgb(50,116,116);
        }
        &:nth-of-type(2n){
            background: rgb(116,50,116);
        }
        &:last-of-type{
            background: rgb(200,116,116);
        }
    }
    .controls{
        margin-top: 50px;
        button{
            padding: 10px;
            &:last-of-type{
                float: right;
            }
        }
    }
}