*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(241,242,243);
    overflow: hidden;
    overscroll-behavior: none;
}

[data-custom-overflow="wrp"]{
    overflow: hidden;
    position: relative;
    &.absolute-scrollbars{
        .js-scrolled{
            border: 0;
        }
    }
    .js-scrolled{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        border: 30px solid white;
    }
    [data-custom-overflow="content"]{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }
    .ghost-wrp{
        width: 100%;
        height: 100%;
        overflow: scroll;
        position: sticky;
        //z-index: 0;
        z-index: 1;
        top: 0;
        left: 0;
        background: black;
        opacity: .601;
        pointer-events: none;
        .ghost-content{
            height: 200%;
            width: 200%;
        }
    }
    .scrollbars{
        width: calc(100% - 60px);
        height: calc(100% - 60px);
        position: absolute;
        top: 30px;
        left: 30px;
        pointer-events: none;
        .bar-container{
            position: absolute;
            border: solid transparent;
            background: 0;
            pointer-events: all;
            cursor: pointer;
            transition: background .2s ease, border .2s ease;
            .bar{
                position: absolute;
                border-radius: 3px;
                background: rgba(95,95,95,.5);
                transition: background .2s ease;
                &:after{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
                
            }
            button{
                position: absolute;
                border: 1px solid transparent;
                background: rgb(228,228,228);
                opacity: 0;
                transition: opacity .2s ease;
                cursor: pointer;
                &:hover{
                    background: rgb(200,200,200);
                }
                &:active{
                    background: rgb(180,180,180);
                }
                &:after{
                    content: "";
                    box-sizing: border-box;
                    display: block;
                    width: 6px;
                    height: 6px;
                    position: absolute;
                    top: calc(50% - 3px);
                    left: calc(50% - 3px);
                    border-bottom: 1px solid rgba(95,95,95,.8);
                    border-right: 1px solid rgba(95,95,95,.8);
                }
            }
            &:hover{
                background: rgb(228,228,228);
                border-color: transparent;
                &.vertical{
                    border-left-color: rgb(190,190,190);
                }
                &.horizontal{
                    border-top-color: rgb(190,190,190);
                }
                .bar{
                    background: rgba(95,95,95,.75);
                    &:hover{
                        background: rgb(95,95,95,.9);
                    }
                    &:active{
                        background: rgb(90,90,90);
                    }
                }
                button{
                    opacity: 1;
                }
            }
            &.vertical{
                width: 16px;
                height: 100%;
                top: 0;
                right: -30px;
                border-width: 4px 1px;
                .bar{
                    width: 6px;
                    height: 100%;
                    max-height: 100%;
                    right: 4px;
                    top: 0;
                    transition: height .2s ease;
                    &:after{
                        width: calc(100% + 10px);
                        left: -5px;
                    }
                }
                button{
                    width: 16px;
                    height: 16px;
                    left: -1px;
                    border-left: 1px solid rgb(190,190,190);
                    &.up{
                        top: -16px;
                        &:after{
                            transform: rotate(-135deg);
                        }
                    }
                    &.down{
                        bottom: -16px;
                        &:after{
                            transform: rotate(45deg);
                        }
                    }
                }
            }
            &.horizontal{
                width: 100%;
                height: 16px;
                bottom: -30px;
                left: 0;
                border-width: 1px 4px;
                .bar{
                    width: 100%;
                    max-width: 100%;
                    height: 6px;
                    bottom: 4px;
                    left: 0;
                    transition: width .2s ease;
                    &:after{
                        height: calc(100% + 10px);
                        top: -5px;
                    }
                }
                button{
                    width: 16px;
                    height: 16px;
                    top: -1px;
                    border-top: 1px solid rgb(190,190,190);
                    &.to-left{
                        left: -16px;
                        &:after{
                            transform: rotate(135deg);
                        }
                    }
                    &.to-right{
                        right: -16px;
                        &:after{
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
}

#wrp{
    width: 1000px;
    max-width: 96vw;
    height: 600px;
    max-height: calc(100vh - 80px);
    margin: 40px auto;
    margin-left: 400px;
    border-radius: 4px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    background: white;
    table{
        border-collapse: collapse;
        tr{
            height: 60px;
            line-height: 56px;
            white-space: nowrap;
            &:nth-of-type(even){
                background: rgb(230,233,236);
            }
        }
        td, th{
            padding: 0 10px;
            border: 2px solid black;
            vertical-align: middle;
            text-align: left;
        }
    }
}

.bocni-menu{
    width: 270px;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    z-index: 9;
    top: 0;
    padding-top: 65px;
    background: white;
    transition: transform .5s ease;
    .filtruj-moduly{
        position: relative;
        padding-left: 25px;
        border-bottom: 1px solid black;
        &:after{
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            top: 100%;
            left: 0;
            background-image: linear-gradient(to right, #eed54a 50%, transparent 50%);
            background-size: 200%;
            background-position: 100% center;
        }
        &.filtruje{
            &:after{
                background-position: 0 center;
                transition: background 1s ease;
            }
        }
        img{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            left: 25px;
            transform: translateY(-50%);
        }
        input{
            border: 0;
            padding: 0 10px 0 40px;
            border-radius: 0;
            background: 0;
            font-size: 14px;
            font-weight: 500;
            color: black;
        }
    }
    .odfiltrovano{
        display: none !important;
    }
    .profiltrovano{
        border-right: 3px solid #eed54a !important;
    }
    .cast{
        overflow: hidden;
    }
    h2{
        display: block;
        height: 70px;
        padding-top: 40px;
        padding-left: 25px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        //font-family: Ubuntu, sans-serif;
        color: black;
    }
    h3{
        height: 50px;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        color: blue;
        cursor: pointer;
        &:hover{
            background: rgb(220,220,220);
            color: black;
        }
        img{
            display: none;
            position: absolute;
            top: 50%;
            left: 25px;
            transform: translateY(-50%);
        }
        span{
            max-width: calc(100% - 100px);
            position: absolute;
            top: 50%;
            left: 65px;
            transform: translateY(-50%);
        }
    }
    .sekce{
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid black;
        &.active{
            &:after{
                border-color: #eed54a;
            }
            h3{
                color: black;
            }
            .moduly{
                height: auto;
            }
        }
        &:after{
            content: "";
            box-sizing: border-box;
            display: block;
            width: 8px;
            height: 8px;
            position: absolute;
            top: calc(25px - 4px);
            right: calc(25px - 4px);
            border-bottom: 2px solid;
            border-left: 2px solid;
            border-color: blue;
            transform: rotate(-45deg);
        }
        
    }
    .moduly{
        height: 0;
        overflow: hidden;
        transition: height .5s ease;
        .container{
            padding-left: 65px;
        }
    }
    .modul{
        display: block;
        min-height: 36px;
        position: relative;
        padding: 8px 0;
        padding-left: 25px;
        line-height: 20px;
        text-decoration: none;
        font-weight: 500;
        font-size: 12px;
        color: grey;
        transition: color .2s ease;
        &:hover{
            color: black;
        }
        &:before{
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            position: absolute;
            left: 0;
            top: calc(50% - 3px);
            border-radius: 3px;
            background: black;
        }
        /*a{
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 25px;
        }*/
    }
    img{
        width: 20px;
        height: 20px;
    }
}