*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 500px;
    overflow: scroll;
}

#tbl-responsive{
    margin: 20px;
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
}
    #tbl-responsive thead{
        border: solid rgb(200,200,200);
        border-width: 1px 0;
    }
    #tbl-responsive thead th{
        padding: 20px 10px;
    }
    #tbl-responsive tbody{
        overflow: scroll;
    }
        #tbl-responsive tbody tr{
            line-height: 40px;
            background: white;
        }
        #tbl-responsive tbody tr:nth-of-type(even){
            background: rgb(240,240,240);
        }
            #tbl-responsive tbody td{
                line-height: 25px;
                padding: 20px 10px;
            }
            #tbl-responsive .remove{
                height: 20px;
                width: 20px;
                position: relative;
                margin: 0 5px;
                border: 0;
                line-height: 20px;
                font-size: 25px;
                background: 0;
                cursor: pointer;
            }
                #tbl-responsive .remove span{
                    display: block;
                    height: 4px;
                    width: 100%;
                    position: absolute;
                    border-radius: 1px;
                    background: black;
                }
                #tbl-responsive .remove span:first-of-type{
                    top: calc(50% - 2px);
                    transform: rotate(45deg);
                }
                #tbl-responsive .remove span:last-of-type{
                    bottom: calc(50% - 2px);
                    transform: rotate(-45deg);
                }


@media all and (max-width: 1000px){
    .container{
        height: auto;
        width: auto;
    }
        #tbl-responsive{
            margin: 0;
            border: 0;
            border-collapse: collapse;
            text-align: right;
        }
            #tbl-responsive thead{
                display: none;
            }
                #tbl-responsive tbody tr{
                    float: left;
                    margin: 10px;
                    border: 2px solid black;
                    position: relative;
                    width: 300px;
                }
                    #tbl-responsive td{
                        clear: both;
                        display: block;
                        width: 100%;
                    }
                    #tbl-responsive td[data-th]:before{
                        content: attr(data-th);
                        float: left;
                        text-align: left;
                        font-weight: 600;
                    }
                    #tbl-responsive .removal{
                        display: none;
                    }
                        #tbl-responsive .remove{
                            position: absolute;
                            top: 20px;
                            right: 20px;
                        }
}