*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#screensaver-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    position: relative;
    #logo{
        width: 150px;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid red;
        background: black;
    }
}

