* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carousel {
  width: 300px;
  margin: 50px auto;
  position: relative;
}
.carousel .items {
  width: 300px;
  height: 240px;
  position: relative;
  overflow: hidden;
  word-spacing: -0.3em;
  white-space: nowrap;
}
.carousel .item {
  display: inline-block;
  width: 300px;
  height: 240px;
  white-space: normal;
  word-spacing: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 100%;
}
.carousel .item.active {
  left: 0;
}
.carousel .item:first-of-type {
  background: #327474;
}
.carousel .item:nth-of-type(2n) {
  background: #743274;
}
.carousel .item:last-of-type {
  background: #c87474;
}
.carousel .controls {
  margin-top: 50px;
}
.carousel .controls button {
  padding: 10px;
}
.carousel .controls button:last-of-type {
  float: right;
}

/*# sourceMappingURL=style.css.map */
