*{
    box-sizing: border-box;
}
button{

}

#calendar-container{
    float: left;
    height: 756px;
    width: calc(50% - 20px);
    margin-right: 20px;
    border: 3px solid rgb(245,245,245);
    padding: 30px;
}

#calendar-container .month-selector{
    height: 60px;
    width: 100%;
    position: relative;
    text-align: center;
}
    #calendar-container .month-selector button{
        height: 20px;
        width: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: 0;
        cursor: pointer;
    }
    #calendar-container .month-selector button.prev{
        left: 0;
    }
    #calendar-container .month-selector button.prev:after{
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        border-top: 2px solid rgb(85,175,15);
        border-left: 2px solid rgb(85,175,15);
        transform: rotate(-45deg);
    }
    #calendar-container .month-selector button.next{
        right: 0;
    }
    #calendar-container .month-selector button.next:after{
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        border-top: 2px solid rgb(85,175,15);
        border-right: 2px solid rgb(85,175,15);
        transform: rotate(45deg) translate(-6px, 6px);
    }
    #calendar-container .month-selector .date{
        display: inline-block;
        margin-top: 5px;
    }
        #calendar-container .month-selector .month{
            color: rgb(85,175,15);
            font-size: 1.5em;
            display: block;
        }
        #calendar-container .month-selector .year{
            font-size: .9em;
            display: block;
        }

    #calendar-container table{
        border-collapse: collapse;
        width: 100%;
    }
        #calendar-container thead{
            background: rgb(245,245,245);
            color: rgb(150,150,150);
        }
            #calendar-container th{
                height: 30px;
                width: 45px;
                text-align: center;
            }
        #calendar-container tbody{
            display: none;
        }
        #calendar-container tbody.active{
            display: table-row-group;
        }
            #calendar-container td{
                height: 100px;
                text-align: center;
                color: rgb(50,50,50);
                border: 1px solid black;
            }
            #calendar-container td span.data{
                display: inline-block;
                height: 40px;
                width: 36px;
                line-height: 34px;
                border-radius: 4px;
                border: 3px solid rgb(85,175,15);
                cursor: pointer;
            }
            #calendar-container td span.active{
                background: rgb(125,215,35);
                color: white;
            }
            #calendar-container td span.today{
                color: red;
            }
        

#calendar-program{
    float: left;
    height: 456px;
    width: calc(50% - 20px);
    margin-left: 20px;
    overflow: scroll;
    padding: 30px;
    background: rgb(245,245,245);
}
    #calendar-program .program{
        display: none;
    }
    #calendar-program .program.active{
        display: block;
    }
        #calendar-program h3{
            font-family: MontserratExtraLight, sans-serif;
            font-weight: 100;
            font-size: 1.4em;
        }
        #calendar-program table{
            margin-top: 30px;
        }
            #calendar-program tr{
                height: 30px;
                margin-top: 30px;
            }
            #calendar-program th{
                color: rgb(85,175,15);
                text-align: left;
            }
            #calendar-program a{
                padding-left: 20px;
                white-space: nowrap;
                font-family: MontserratLight;
                color: rgb(100,100,100);
            }