* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#letter {
  height: 280px;
  width: 400px;
  max-height: 60vh;
  max-width: 95vw;
  position: fixed;
  /*left: calc(50% - 200px);
  top: calc(50% - 140px);*/
  left: -500px;
  top: calc(50% - 140px);
  transform-origin: bottom right;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1); }
@keyframes envelopeRunIn {
  85% {
    left: calc(50% - 200px); }
  100% {
    left: calc(50% - 200px); } }
@keyframes envelopeSpinIn {
  10% {
    transform: rotate(0); }
  50% {
    transform: rotate(25deg); }
  80% {
    transform: rotate(25deg); }
  100% {
    transform: rotate(0); } }
@keyframes envelopeRunOut {
  0% {
    left: calc(50% - 200px); }
  15% {
    left: calc(50% - 200px); }
  100% {
    left: calc(100% + 100px); } }
@keyframes envelopeSpinOut {
  0% {
    transform: rotate(0); }
  20% {
    transform: rotate(0); }
  80% {
    transform: rotate(25deg); }
  90% {
    transform: rotate(0); } }
  @media all and (max-width: 467px) {
    #letter {
      top: calc(50% - 30vh); } }
  @media all and (max-width: 421px) {
    @keyframes envelopeRunIn {
      85% {
        left: calc(50% - 47.5vw); }
      100% {
        left: calc(50% - 47.5vw); } }
    @keyframes envelopeRunOut {
      0% {
        left: calc(50% - 47.5vw); }
      15% {
        left: calc(50% - 47.5vw); }
      100% {
        left: calc(100% + 100px); } } }
  #letter.active {
    animation: envelopeRunIn 1s, envelopeSpinIn 1s;
    animation-timing-function: cubic-bezier(0.3, 0.2, 0.25, 0.95), cubic-bezier(0.6, 0.1, 0.6, 0.6);
    animation-fill-mode: forwards; }
    #letter.active.hidden {
      animation: envelopeRunOut 1s, envelopeSpinOut 1s;
      animation-timing-function: cubic-bezier(0.6, 0.2, 0.4, 0.9), cubic-bezier(0.99, 0.2, 0.5, 0.9);
      animation-fill-mode: forwards; }
  #letter .env-back {
    width: 100%;
    height: 100%;
    background-color: #323232; }
  #letter .letter {
    height: 65%;
    background: yellow;
    width: 95%;
    position: absolute;
    bottom: 2%;
    left: 2.5%;
    transition: height .5s linear; }
@keyframes showLetter {
  50% {
    bottom: 140%;
    z-index: 0; }
  51% {
    z-index: 1; }
  100% {
    bottom: 50%;
    transform: translateY(50%);
    z-index: 1; } }
@keyframes hideLetter {
  50% {
    bottom: 140%;
    z-index: 1;
    transform: translateY(0); }
  51% {
    z-index: 0; }
  100% {
    bottom: 2%;
    transform: translateY(0);
    z-index: 0; } }
    #letter .letter.active {
      max-height: 90vh;
      animation: showLetter 1s ease;
      animation-fill-mode: forwards; }
      #letter .letter.active.hidden {
        z-index: 1;
        transform: translateY(50%);
        bottom: 50%;
        animation: hideLetter 1s ease;
        animation-fill-mode: forwards; }
  #letter .env-front {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    #letter .env-front .left-side, #letter .env-front .right-side {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0; }
      #letter .env-front .left-side .bottom, #letter .env-front .right-side .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background-color: #b4b4b4; }
      #letter .env-front .left-side .top, #letter .env-front .right-side .top {
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0; }
    #letter .env-front .left-side {
      left: 0; }
      #letter .env-front .left-side .top {
        background-image: linear-gradient(to top right, #b4b4b4 50%, transparent 50%); }
    #letter .env-front .right-side {
      right: 0; }
      #letter .env-front .right-side .top {
        background-image: linear-gradient(to top left, #b4b4b4 50%, transparent 50%); }
    #letter .env-front .bottom-side {
      width: 100%;
      height: 60%;
      position: absolute;
      bottom: 0;
      left: 0; }
      #letter .env-front .bottom-side .left, #letter .env-front .bottom-side .right {
        height: 100%;
        width: 50%;
        position: absolute;
        bottom: 0; }
      #letter .env-front .bottom-side .left {
        left: 0;
        background-image: linear-gradient(to top left, #c8c8c8 50%, transparent 50%); }
      #letter .env-front .bottom-side .right {
        right: 0;
        background-image: linear-gradient(to top right, #c8c8c8 50%, transparent 51%); }
    #letter .env-front .top-side {
      width: 100%;
      height: 70%;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 1s ease-out;
      transform-origin: top center; }
      #letter .env-front .top-side.active {
        animation: putBehind 1s ease;
        animation-fill-mode: forwards;
        transform: rotateX(-180deg); }
@keyframes putBehind {
  99% {
    z-index: 1; }
  100% {
    z-index: -1; } }
      #letter .env-front .top-side .left, #letter .env-front .top-side .right {
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0; }
      #letter .env-front .top-side .left {
        left: 0;
        background-image: linear-gradient(to bottom left, #00b96d 50%, transparent 50%); }
      #letter .env-front .top-side .right {
        right: 0;
        background-image: linear-gradient(to bottom right, #00b96d 50%, transparent 50%); }

/*# sourceMappingURL=letter.css.map */
