/************************
*		  Reset  		*
************************/
html {
	line-height: 1.15; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

body {
	font-family: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

strong, b {
	font-weight: 700;
}

[hidden], .hidden {
	display: none !important;
}

.btn, button, .button {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	border: 			none;
	cursor: 			pointer;
	outline:			none;
	font-family: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="email"],
textarea {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	border: 			none;
	outline:			none;
	font-family: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.far, .fas, .fab, .fa {
	span {
		font-weight: 400;
		font-family: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif;
	}
}

/************************
*	WebTutorials GRID	*
************************/
.wt-inline {
	display: flex;
	flex-wrap: wrap;
	
	//Horizontální orientace
	&.wt-h-space-between {
		justify-content: space-between;
	}
	&.wt-h-space-around {
		justify-content: space-around;
	}
	&.wt-h-center {
		justify-content: center;
	}
	&.wt-h-flex-start {
		justify-content: flex-start;
	}
	&.wt-h-flex-end {
		justify-content: flex-end;
	}

	//Vertikální orientace
	&.wt-v-center {
		align-items: center;
	}
	&.wt-v-flex-start {
		align-items: flex-start;
	}
	&.wt-v-flex-end {
		align-items: flex-end;
	}
}

/************************
*	Bootstrap MD GRID	*
************************/
.bt-wrapp {
	width: 100%;
	display: inline-block;
}

.col {
	float: left;
	
	&::after {
		content: "";
		display: table;
	}
}

// Generování mřížky Bootstrap col-md- 1 až 12
@for $i from 1 through 12 {
	.col-md-#{$i} {
		width: calc((100% * #{$i}) / 12);
	}
}

// Generování offsetu mřížky Bootstrap col-md-offset- 1 až 12
@for $i from 1 through 12 {
	.col-md-offset-#{$i} {
		margin-left: calc((100% * #{$i}) / 12);
	}
}