.drag-drop-grid{
    display: grid;
    width: calc(100vw - 50px);
    position: relative;
    margin: 25px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    //grid-template-rows: repeat(4, 300px);
    grid-auto-rows: 300px;
    grid-gap: 20px;
    background: rgb(240,243,245);
    @media all and (max-width: 900px){
        grid-template-columns: 1fr 1fr 1fr;
    }
    &.being-modified{
        .tile:not(.grabbed){
            opacity: .5;
        }
    }
    .tile{

        overflow: hidden;
        position: relative;
        margin: 0;
        background: #87A3B6;
        .content{
            background: white;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            position: absolute;
            top: 20px;
            left: 20px;
            span{
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                line-height: 50px;
                font-size: 50px;
                font-family: monospace;
                color: red;
            }
        }
        /*&:before{
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            left: calc0% - 8px);
            border-rads: 8px;
            background: #B81616;
            cursor: pointer;
        }*/
        &.grabbed{
            position: fixed;
            z-index: 1;
            opacity: 1;
            box-shadow: 6px 6px 5px 4px rgba(0,0,0,.3);
            //just change grid-column-start and grid-row-start, when hovering above different area
        }
    }
    .t-1-1{
        grid-row-end: span 1;
        grid-column-end: span 1;
    }
    .t-2-1{
        grid-column-end: span 2;
        grid-row-end: span 1;
        
    }
    .t-1-2{
        grid-column-end: span 1;
        grid-row-end: span 2;
    }
    .t-2-2{
        grid-column-end: span 2;
        grid-row-end: span 2;
    }
}