*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 50px;
}

.carousel{
    height: 600px;
    border: 3px solid black;
    position: relative;
}
    .carousel-item{
        transition: all .5s ease;
        height: 100px;
        width: 150px;
        position: absolute;
        padding: 30px 0;
        font-size: 3em;
        text-align: center;
        background: rgb(100,150,255);
    }