*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#rating{
    margin: 50px;
    position: relative;
}
    #rate{
        fill: url(#rating-gradient);
        clip-path: url(#rating-clip-path);
    }

#your-rating{
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}
    .heart{
        stroke: black;
        stroke-width: .1px;
        fill: rgba(220,220,220,0);
        cursor: pointer;
    }
    #your-rating.active .heart{
        fill: rgb(250,200,20);
    }
    #your-rating.active .heart.active ~ *{
        fill: rgba(220,220,220,0);
    }
    #your-rating:hover .heart{
        fill: rgb(250,200,20) !important;
    }
    #your-rating:hover .heart:hover ~ *{
        fill: rgba(220,220,220,0) !important;
    }