* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f2f3;
  overflow: hidden;
  overscroll-behavior: none;
}

[data-custom-overflow=wrp] {
  overflow: hidden;
  position: relative;
}
[data-custom-overflow=wrp].absolute-scrollbars .js-scrolled {
  border: 0;
}
[data-custom-overflow=wrp] .js-scrolled {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: 30px solid white;
}
[data-custom-overflow=wrp] [data-custom-overflow=content] {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
[data-custom-overflow=wrp] .ghost-wrp {
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.601;
  pointer-events: none;
}
[data-custom-overflow=wrp] .ghost-wrp .ghost-content {
  height: 200%;
  width: 200%;
}
[data-custom-overflow=wrp] .scrollbars {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  position: absolute;
  top: 30px;
  left: 30px;
  pointer-events: none;
}
[data-custom-overflow=wrp] .scrollbars .bar-container {
  position: absolute;
  border: solid transparent;
  background: 0;
  pointer-events: all;
  cursor: pointer;
  transition: background 0.2s ease, border 0.2s ease;
}
[data-custom-overflow=wrp] .scrollbars .bar-container .bar {
  position: absolute;
  border-radius: 3px;
  background: rgba(95, 95, 95, 0.5);
  transition: background 0.2s ease;
}
[data-custom-overflow=wrp] .scrollbars .bar-container .bar:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
[data-custom-overflow=wrp] .scrollbars .bar-container button {
  position: absolute;
  border: 1px solid transparent;
  background: #e4e4e4;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
}
[data-custom-overflow=wrp] .scrollbars .bar-container button:hover {
  background: #c8c8c8;
}
[data-custom-overflow=wrp] .scrollbars .bar-container button:active {
  background: #b4b4b4;
}
[data-custom-overflow=wrp] .scrollbars .bar-container button:after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  border-bottom: 1px solid rgba(95, 95, 95, 0.8);
  border-right: 1px solid rgba(95, 95, 95, 0.8);
}
[data-custom-overflow=wrp] .scrollbars .bar-container:hover {
  background: #e4e4e4;
  border-color: transparent;
}
[data-custom-overflow=wrp] .scrollbars .bar-container:hover.vertical {
  border-left-color: #bebebe;
}
[data-custom-overflow=wrp] .scrollbars .bar-container:hover.horizontal {
  border-top-color: #bebebe;
}
[data-custom-overflow=wrp] .scrollbars .bar-container:hover .bar {
  background: rgba(95, 95, 95, 0.75);
}
[data-custom-overflow=wrp] .scrollbars .bar-container:hover .bar:hover {
  background: rgba(95, 95, 95, 0.9);
}
[data-custom-overflow=wrp] .scrollbars .bar-container:hover .bar:active {
  background: #5a5a5a;
}
[data-custom-overflow=wrp] .scrollbars .bar-container:hover button {
  opacity: 1;
}
[data-custom-overflow=wrp] .scrollbars .bar-container.vertical {
  width: 16px;
  height: 100%;
  top: 0;
  right: -30px;
  border-width: 4px 1px;
}
[data-custom-overflow=wrp] .scrollbars .bar-container.vertical .bar {
  width: 6px;
  height: 100%;
  max-height: 100%;
  right: 4px;
  top: 0;
  transition: height 0.2s ease;
}
[data-custom-overflow=wrp] .scrollbars .bar-container.vertical .bar:after {
  width: calc(100% + 10px);
  left: -5px;
}
[data-custom-overflow=wrp] .scrollbars .bar-container.vertical button {
  width: 16px;
  height: 16px;
  left: -1px;
  border-left: 1px solid #bebebe;
}
[data-custom-overflow=wrp] .scrollbars .bar-container.vertical button.up {
  top: -16px;
}
[data-custom-overflow=wrp] .scrollbars .bar-container.vertical button.up:after {
  transform: rotate(-135deg);
}
[data-custom-overflow=wrp] .scrollbars .bar-container.vertical button.down {
  bottom: -16px;
}
[data-custom-overflow=wrp] .scrollbars .bar-container.vertical button.down:after {
  transform: rotate(45deg);
}
[data-custom-overflow=wrp] .scrollbars .bar-container.horizontal {
  width: 100%;
  height: 16px;
  bottom: -30px;
  left: 0;
  border-width: 1px 4px;
}
[data-custom-overflow=wrp] .scrollbars .bar-container.horizontal .bar {
  width: 100%;
  max-width: 100%;
  height: 6px;
  bottom: 4px;
  left: 0;
  transition: width 0.2s ease;
}
[data-custom-overflow=wrp] .scrollbars .bar-container.horizontal .bar:after {
  height: calc(100% + 10px);
  top: -5px;
}
[data-custom-overflow=wrp] .scrollbars .bar-container.horizontal button {
  width: 16px;
  height: 16px;
  top: -1px;
  border-top: 1px solid #bebebe;
}
[data-custom-overflow=wrp] .scrollbars .bar-container.horizontal button.to-left {
  left: -16px;
}
[data-custom-overflow=wrp] .scrollbars .bar-container.horizontal button.to-left:after {
  transform: rotate(135deg);
}
[data-custom-overflow=wrp] .scrollbars .bar-container.horizontal button.to-right {
  right: -16px;
}
[data-custom-overflow=wrp] .scrollbars .bar-container.horizontal button.to-right:after {
  transform: rotate(-45deg);
}

#wrp {
  width: 1000px;
  max-width: 96vw;
  height: 600px;
  max-height: calc(100vh - 80px);
  margin: 40px auto;
  margin-left: 400px;
  border-radius: 4px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  background: white;
}
#wrp table {
  border-collapse: collapse;
}
#wrp table tr {
  height: 60px;
  line-height: 56px;
  white-space: nowrap;
}
#wrp table tr:nth-of-type(even) {
  background: #e6e9ec;
}
#wrp table td, #wrp table th {
  padding: 0 10px;
  border: 2px solid black;
  vertical-align: middle;
  text-align: left;
}

.bocni-menu {
  width: 270px;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  z-index: 9;
  top: 0;
  padding-top: 65px;
  background: white;
  transition: transform 0.5s ease;
}
.bocni-menu .filtruj-moduly {
  position: relative;
  padding-left: 25px;
  border-bottom: 1px solid black;
}
.bocni-menu .filtruj-moduly:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  background-image: linear-gradient(to right, #eed54a 50%, transparent 50%);
  background-size: 200%;
  background-position: 100% center;
}
.bocni-menu .filtruj-moduly.filtruje:after {
  background-position: 0 center;
  transition: background 1s ease;
}
.bocni-menu .filtruj-moduly img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}
.bocni-menu .filtruj-moduly input {
  border: 0;
  padding: 0 10px 0 40px;
  border-radius: 0;
  background: 0;
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.bocni-menu .odfiltrovano {
  display: none !important;
}
.bocni-menu .profiltrovano {
  border-right: 3px solid #eed54a !important;
}
.bocni-menu .cast {
  overflow: hidden;
}
.bocni-menu h2 {
  display: block;
  height: 70px;
  padding-top: 40px;
  padding-left: 25px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: black;
}
.bocni-menu h3 {
  height: 50px;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: blue;
  cursor: pointer;
}
.bocni-menu h3:hover {
  background: gainsboro;
  color: black;
}
.bocni-menu h3 img {
  display: none;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}
.bocni-menu h3 span {
  max-width: calc(100% - 100px);
  position: absolute;
  top: 50%;
  left: 65px;
  transform: translateY(-50%);
}
.bocni-menu .sekce {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid black;
}
.bocni-menu .sekce.active:after {
  border-color: #eed54a;
}
.bocni-menu .sekce.active h3 {
  color: black;
}
.bocni-menu .sekce.active .moduly {
  height: auto;
}
.bocni-menu .sekce:after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: calc(25px - 4px);
  right: calc(25px - 4px);
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-color: blue;
  transform: rotate(-45deg);
}
.bocni-menu .moduly {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}
.bocni-menu .moduly .container {
  padding-left: 65px;
}
.bocni-menu .modul {
  display: block;
  min-height: 36px;
  position: relative;
  padding: 8px 0;
  padding-left: 25px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  color: grey;
  transition: color 0.2s ease;
  /*a{
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 25px;
  }*/
}
.bocni-menu .modul:hover {
  color: black;
}
.bocni-menu .modul:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 0;
  top: calc(50% - 3px);
  border-radius: 3px;
  background: black;
}
.bocni-menu img {
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=scrollbar.css.map */
