@mixin wt-column ($frame, $count, $space, $min_width, $type) { //Frame, počet, mezera, minimální_šířka, typ (pairs | single);
	width: calc((100% / #{$count} - #{$space}) + (#{$space} / #{$count}));
	margin-right: $space;
	margin-bottom: $space;

	&:nth-child(#{$count}n+#{$count}) {
		margin-right: 0;
	}

	@if($type == 'pairs') {
		$max_column: floor($frame / ($min_width + $space));

		@for $new_column from 1 through $max_column {
			$breakpoint: ($new_column * ($min_width + $space)) - $space;
			@if($new_column < $count and $new_column % 2 == 0) {
				@media(min-width: $breakpoint) {
					width: calc((100% / #{$new_column} - #{$space}) + (#{$space} / #{$new_column}));
					margin-right: $space;
					margin-bottom: $space;


					&:nth-child(#{$new_column - 1}n+#{$new_column - 1}) {
						margin-right: $space;
						margin-bottom: $space;
					}
				
					&:nth-child(#{$new_column - 2}n+#{$new_column - 2}) {
						margin-right: $space;
						margin-bottom: $space;
					}

					&:nth-child(#{$new_column}n+#{$new_column}) {
						margin-right: 0;
					}
				}
			}@else if($new_column >= $count) {
				@media(min-width: $breakpoint+1) {
					width: calc((100% / #{$count} - #{$space}) + (#{$space} / #{$count}));
					margin-right: $space;
					margin-bottom: $space;


					&:nth-child(#{$count - 1}n+#{$count - 1}) {
						margin-right: $space;
						margin-bottom: $space;
					}
				
					&:nth-child(#{$count - 2}n+#{$count - 2}) {
						margin-right: $space;
						margin-bottom: $space;
					}

					&:nth-child(#{$count}n+#{$count}) {
						margin-right: 0;
					}
				}
			}
		}
		@media(max-width: #{($min_width * 2)+$space}) {
			width: 100%;
			max-width: 100%;
			margin-right: 0!important;
		}
	}@else {
		$max_column: floor($frame / ($min_width + $space));

		@for $new_column from 1 through $max_column {
			$breakpoint: ($new_column * ($min_width + $space)) - $space;
			@if($new_column < $count) {
				@media(min-width: $breakpoint) {
					width: calc((100% / #{$new_column} - #{$space}) + (#{$space} / #{$new_column}));
					margin-right: $space;
					margin-bottom: $space;


					&:nth-child(#{$new_column - 1}n+#{$new_column - 1}) {
						margin-right: $space;
						margin-bottom: $space;
					}

					&:nth-child(#{$new_column}n+#{$new_column}) {
						margin-right: 0;
					}
				}
			}@else {
				@media(min-width: $breakpoint+1) {
					width: calc((100% / #{$count} - #{$space}) + (#{$space} / #{$count}));
					margin-right: $space;
					margin-bottom: $space;


					&:nth-child(#{$count - 1}n+#{$count - 1}) {
						margin-right: $space;
						margin-bottom: $space;
					}

					&:nth-child(#{$count}n+#{$count}) {
						margin-right: 0;
					}
				}
			}
		}
		@media(max-width: #{$min_width}) {
			width: 100%;
			max-width: 100%;
			margin-right: 0!important;
		}
	}
}



//Vytváření items v rámci mřížky o stejných šířkách
@mixin wt-item($classa, $space, $count) { // Třída, Mezera, Počet
	@for $i from 1 through $count {
		.#{$classa} {
			width: calc(100% / #{$count} - #{$space}px + (#{$space}px / #{$count}));
			
			margin-right: #{$space}px;
			margin-bottom: #{$space}px; 
			
			&:nth-child(#{$count+1}n-#{$count+1}) {
				margin-right: #{$space}px;
			}
			
			&:nth-child(#{$count}n-#{$count}) {
				margin-right: 0;
			}
		}
	}
}