@mixin wt-sizing($property, $map) {

	$length: length(map-keys($map));


	$map: wt-map-list($map);
	$keys: map-keys($map);

	#{$property}: map-get($map, nth($keys,1));

	@for $i from 1 through ($length - 1) {
		@media (min-width:nth($keys,$i)) {
			$value1: map-get($map, nth($keys,$i));
			$value2: map-get($map, nth($keys,($i + 1)));

			@if ($value1 != $value2) {
				#{$property}: wt-breakpoints((nth($keys,$i): $value1, nth($keys,($i+1)): $value2));
			} @else { 
				#{$property}: $value1;
			}
		}
	}

	@media (min-width:nth($keys,$length)) {
		#{$property}: map-get($map, nth($keys,$length));
	}
}