.lettered-input{
    display: inline-block;
    position: relative;
    border: 2px solid black;
    input{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
    }
    .letters{
        position: relative;
        z-index: 1;
        background: white;
        font-family: Courier New, Courier, monospace;
        .letter{
            float: left;
            width: 20px;
            height: 30px;
            position: relative;
            &:not(:last-of-type){
                width: 21px;
                &:after{
                    content: "";
                    display: block;
                    width: 1px;
                    height: 6px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background: black;
                }
            }
            input{
                display: block;
                width: 20px;
                height: 100%;
                padding-top: 5px;
                border: 0;
                line-height: 25px;
                text-align: center;
                font-size: 1em;
                font-weight: 600;
            }
        }
    }
}