*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin: 20px 0;
}

#search-console{
    display: block;
    height: 40px;
    width: 300px;
    margin: 20px auto;
    padding: 0 20px;
    font-size: 1em;
}

.suggestions-container{
    width: 400px;
    max-height: 600px;
    overflow: scroll;
    margin: auto auto;
    border: 2px solid black;
}
    .suggestion-type{
        border: 2px solid blue;
    }
        .suggestion-type h2{
            background: rgb(200,200,200);
        }
        .suggestion-type .suggested-item{
            padding: 10px;
            border: 2px solid green;
        }
            .suggestion-type .suggested-item img{
                height: 90px;
                width: 160px;
                object-fit: contain;
                background: black;
            }
            .suggestion-type .suggested-item .suggested-product-info{
                display: inline-block;
                height: 90px;
                vertical-align: middle;
            }
        .suggestion-type .more{
            display: block;
            text-align: center;
        }