#infinite-slider-01{
    width: 500px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 30px auto;
    .side{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        &.left{
            left: -100%;
            .slide.active{
                left: 100%;
            }
        }
        &.right{
            left: 100%;
            .slide.active{
                left: -100%;
            }
        }
        .slide{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            transition: left .8s ease;
            opacity: 0;
            &.visible{
                opacity: 1;
            }
        }
    }
}