.custom-number-container{
    height: 50px;
    width: 100px;
    position: relative;
}
    .custom-number-container input{
        height: 50px;
        width: calc(100% - 30px);
        padding: 0 5px;
        border: 1px solid #CCC;
        text-align: center;
        font-size: 1em;
        color: black;
        background: white;
    }
    .custom-number-container input.invalid{
        outline: 1px solid red;
    }
    .custom-number-container button{
        height: 20px;
        width: 20px;
        position: absolute;
        right: 0;
        border: 0;
        background: #EEE;
        color: black;
        cursor: pointer;
    }
    .custom-number-container .add{
        top: 0;
    }
    .custom-number-container .subtract{
        bottom: 0;
    }