.custom-form-element.double-range{
    position: relative;
}
    .custom-form-element.double-range span{
        display: inline-block;
        width: 100px;
        border: 1px solid blue;
    }
    .custom-form-element.double-range .double-range-range{
        display: inline-block;
        height: 4px;
        width: 200px;
        margin: 0 20px;
        position: relative;
        background: blue;
    }
        .custom-form-element.double-range .double-range-range button{
            height: 20px;
            width: 20px;
            position: absolute;
            top: -8px;
            border-radius: 10px;
            border: 1px solid black;
            background: white;
            cursor: pointer;
            opacity: .6;
        }