#date-picker .input{
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
    padding: 0 20px;
    border: 1px solid black;
    border-radius: 3px;
    line-height: 38px;
    background: white;
}

#datepicker-container{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#datepicker-container.active{
    display: block;
}

#calendar-container{
    height: 456px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background: white;
    box-shadow: 0 0 4px 4px rgba(0,0,0,.1);
}

#calendar-container .month-selector{
    height: 60px;
    width: 100%;
    position: relative;
    text-align: center;
}
    #calendar-container .month-selector button{
        height: 20px;
        width: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 0;
        background: 0;
        cursor: pointer;
    }
    #calendar-container .month-selector button:after{
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        border-top: 2px solid rgb(85,175,15);
    }
    #calendar-container .month-selector button.prev{
        left: 0;
    }
    #calendar-container .month-selector button.prev:after{
        margin-left: 5px;
        border-left: 2px solid rgb(85,175,15);
        transform: rotate(-45deg);
    }
    #calendar-container .month-selector button.next{
        right: 0;
    }
    #calendar-container .month-selector button.next:after{
        border-right: 2px solid rgb(85,175,15);
        transform: rotate(45deg);
    }
    #calendar-container .month-selector .date{
        display: inline-block;
        margin-top: 5px;
    }
        #calendar-container .month-selector .month{
            color: rgb(85,175,15);
            font-size: 1.5em;
            display: block;
        }
        #calendar-container .month-selector .year{
            font-size: .9em;
            display: block;
        }
        #calendar-container .month-selector .year.off-limit{
            outline: 2px solid red;
        }

    #calendar-container table{
        border-collapse: collapse;
        width: 100%;
    }
        #calendar-container thead{
            background: rgb(245,245,245);
            color: rgb(150,150,150);
        }
            #calendar-container th{
                height: 30px;
                width: 45px;
                text-align: center;
            }
        #calendar-container tbody{
            display: none;
        }
        #calendar-container tbody.active{
            display: table-row-group;
        }
            #calendar-container td{
                height: 50px;
                text-align: center;
                color: rgb(50,50,50);
                cursor: pointer;
            }
            #calendar-container td.active{
                outline: 2px solid #1ECF1E;
            }
            #calendar-container td span.data{
                display: inline-block;
                height: 40px;
                width: 36px;
                line-height: 34px;
                border-radius: 4px;
                border: 3px solid rgb(85,175,15);
                cursor: pointer;
            }
            #calendar-container td span.active{
                background: rgb(125,215,35);
                color: white;
            }
            #calendar-container td span.today{
                color: red;
            }