.lettered-input {
  display: inline-block;
  position: relative;
  border: 2px solid black; }
  .lettered-input input {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0; }
  .lettered-input .letters {
    position: relative;
    z-index: 1;
    background: white;
    font-family: Courier New, Courier, monospace; }
    .lettered-input .letters .letter {
      float: left;
      width: 20px;
      height: 30px;
      position: relative; }
      .lettered-input .letters .letter:not(:last-of-type) {
        width: 21px; }
        .lettered-input .letters .letter:not(:last-of-type):after {
          content: "";
          display: block;
          width: 1px;
          height: 6px;
          position: absolute;
          bottom: 0;
          right: 0;
          background: black; }
      .lettered-input .letters .letter input {
        display: block;
        width: 20px;
        height: 100%;
        padding-top: 5px;
        border: 0;
        line-height: 25px;
        text-align: center;
        font-size: 1em;
        font-weight: 600; }

/*# sourceMappingURL=lettered-input.css.map */
