/*-------------------------------  SELECT  --------------------------------------*/
.custom-form-element.select {
  display: inline-block;
  width: auto;
  height: 30px;
  position: relative;
  z-index: 1;
  padding: 0 50px 0 15px;
  border: 1px solid #c8c8c8;
  line-height: 28px;
  background: white; }
  .custom-form-element.select * {
    margin: 0; }
  .custom-form-element.select .placeholder, .custom-form-element.select .final-value {
    display: none;
    vertical-align: top;
    color: gray; }
    .custom-form-element.select .placeholder.active, .custom-form-element.select .final-value.active {
      display: inline-block; }
  .custom-form-element.select .final-value {
    color: black; }
  .custom-form-element.select .options {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 15px;
    padding: 0;
    border: 1px solid gainsboro;
    background: white;
    opacity: 0;
    pointer-events: none; }
@keyframes showOptionsMenu {
  100% {
    opacity: 1; } }
    .custom-form-element.select .options.active {
      animation: showOptionsMenu .3s ease-in-out;
      animation-fill-mode: forwards;
      pointer-events: all; }
    .custom-form-element.select .options .option {
      height: 40px;
      white-space: nowrap;
      position: relative;
      line-height: 40px;
      padding-left: 30px;
      padding-right: 10px;
      cursor: pointer; }
      .custom-form-element.select .options .option:hover {
        background: #f0f0ff; }
      .custom-form-element.select .options .option.active:before {
        content: "";
        display: block;
        height: 6px;
        width: 12px;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%) rotate(-60deg);
        border-bottom: 2px solid black;
        border-left: 2px solid black; }
      .custom-form-element.select .options .option .option-value {
        display: none; }
  .custom-form-element.select .expand-button {
    height: 100%;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    background: none;
    cursor: pointer; }
    .custom-form-element.select .expand-button .arrow {
      display: block;
      height: 12px;
      width: 12px;
      border-bottom: 2px solid black;
      border-right: 2px solid black;
      border-bottom-right-radius: 2px;
      transform: rotate(45deg) translate(-12.5%, -12.5%); }

/*-------------------------------  END OF SELECT  --------------------------------------*/

/*# sourceMappingURL=select-element.css.map */
