*{
    box-sizing: border-box;
}

#custom-slider{
    margin: 100px auto;
    overflow-x: hidden;
    outline: 2px solid black;
    transform: rotateY(-70deg) rotateZ(-15deg);
}
    #custom-slider #container-of-slides{
        height: auto;
        white-space: nowrap;
        position: relative;
        left: 0;
        transition: left .5s ease;
    }
        #custom-slider .slide{
            display: inline-block;
            height: 360px;
            width: 640px;
            overflow: hidden;
            border: 5px solid blue;
            vertical-align: top;
        }
        #custom-slider .slide img{
            float: left;
            width: 100%;
            height: 100%;
            object-fit: fill;
        }