#infinite-slider-01 {
  width: 500px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 30px auto; }
  #infinite-slider-01 .side {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; }
    #infinite-slider-01 .side.left {
      left: -100%; }
      #infinite-slider-01 .side.left .slide.active {
        left: 100%; }
    #infinite-slider-01 .side.right {
      left: 100%; }
      #infinite-slider-01 .side.right .slide.active {
        left: -100%; }
    #infinite-slider-01 .side .slide {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      transition: left .8s ease;
      opacity: 0; }
      #infinite-slider-01 .side .slide.visible {
        opacity: 1; }

/*# sourceMappingURL=infinite-slider-01.css.map */
