*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    height: 100px;
    background: black;
    a{
        display: inline-block;
        padding: 0 10px;
        color: white;
    }
}

#parallax{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    perspective-origin: right center;
    & > div{
        width: calc(100%);
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 80vh 0;
        border: 2px solid black;
        text-align: center;
        transform-origin: right center;
        h2{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 3em;
        }
    }
    .slow{
        height: 500px;
        top: -200px;
        padding: 0;
        transition: transform 1s linear;
        transform: translateZ(-1px) scale(2);
        background: #048A78;
    }
    .normal{
        top: 600px;
        background: yellow;
    }
}

/*body{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    perspective-origin: right center;
    header{
        height: 500px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 100vh 0;
        border: 2px solid green;
        background: rgb(230,235,240);
        transform: translateZ(-1px);
        .bg{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(to top right, blue, red);
        }
        h2{
            width: calc(100% - 150px);
            position: absolute;
            top: 50%;
            left: 100px;
            transform: translateY(-50%);
        }
    }
    main{
        height: 200vh;
        position: relative;
        top: 500px;
        padding: 30px;
        border: 2px solid black;
        line-height: 30px;
        text-align: center;
        background: white;
    }
}*/