*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#zoomer{
    height: 600px;
    width: 600px;
	max-height: 100%;
	max-width: 100%;
	position: relative;
	overflow: hidden;
    float: left;
    left: 50%;
    transform: translateX(-50%);
}
	#zoomer > img{
		display: block;
		float: left;
		max-width: 100%;
		padding: 0 !important;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}
	#zoomed-image-container{
		display: none;
		position: absolute;
		top: 40px;
		left: 60px;
		height: 300px;
		width: 300px;
		border-radius: 150px;
		border: 5px solid white;
		box-shadow: 0px 0px 20px -5px rgba(100,100,100,.7);
        opacity: .6;
        background-repeat: no-repeat;
	}
	@media only screen and (min-width: 1200px){
		#zoomed-image-container.active{
			display: block;
		}
	}

#zoomer-button{
	height: 60px;
	width: 50px;
	position: absolute;
	z-index: 1;
	left: 20px;
	bottom: 20px;
	border: 0;
	font-size: 1em;	
	background: none;
	cursor: pointer;
}
@media all and (max-width: 1199px){
	#zoomer-button{
		display: none;
	}
}
	#zoomer-button img{
		display: block;
		height: 30px;
		width: 30px;
		margin: auto auto;
		margin-bottom: 10px;
		filter: brightness(0);
	}
	#zoomer-button img[src*="close"]{
		height: 20px;
		width: 20px;
		margin-top: 5px;
		margin-bottom: 15px;
	}