/* chat */
#chat .img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#chat{
    width: 100%;
	height: calc(100vh - 300px);
    display: table;
    border: 2px solid black;
}
    #chat #communication-selection{
        display: table-cell;
		height: calc(100vh - 300px);
        width: 300px;
        border-right: 1px solid rgb(220,220,220);
    }
		#chat #communication-selection #action{
			height: 60px;
			padding: 10px;
		}
			#chat #communication-selection #action input{
				height: 30px;
				width: calc(100% - 40px);
				vertical-align: top;
				margin-right: 10px;
				padding: 0 15px;
				border-radius: 5px;
				border: 1px solid rgb(220,220,220);
				font-size: .95em;
			}
			#chat #communication-selection #action a{
				display: inline-block;
				height: 30px;
				width: 30px;
				vertical-align: top;
				border-radius: 5px;
				border: 1px solid rgb(220,220,220);
				line-height: 28px;
				text-align: center;
				text-decoration: none;
				font-size: 1.2em;
				color: black;
			}
		#chat #communication-selection #communication-list{
			height: 100%;
			overflow-y: scroll;	
		}
        #chat #communication-selection .communication{
            height: 80px;
			position: relative;
            border-bottom: 1px solid rgb(220,220,220);
            cursor: pointer;
			color: black;
			text-decoration: none;
        }
        #chat #communication-selection .communication.active{
            background: rgb(0,156,255);
            color: white;
        }
            #chat #communication-selection .communication .images{
                float: left;
                height: 100%;
                width: 80px;
                position: relative;
            }
                #chat #communication-selection .communication.single .images .img{
                    height: 60px;
                    width: 60px;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    border-radius: 30px;
                    background: rgb(220,220,220);
                }
                #chat #communication-selection .communication.group .images .img{
                    height: 40px;
                    width: 40px;
                    position: absolute;
                    border-radius: 30px;
                    border: 2px solid white;
                    background: rgb(220,220,220);
                }
                #chat #communication-selection .communication.group.active .images .img{
                    border: 2px solid rgb(0,156,255);
                }
                #chat #communication-selection .communication.group .images .img:first-of-type{
                    top: 10px;
                    left: 10px;
                }
                #chat #communication-selection .communication.group .images .img:last-of-type{
                    right: 10px;
                    bottom: 10px;
                }
            #chat #communication-selection .communication .title{
                float: left;
                width: calc(100% - 110px);
				white-space: nowrap;
				overflow: hidden;
				margin-top: 20px;
				font-weight: 600;
				font-size: .9em;
				color: black;
            }
			#chat #communication-selection .communication.active .title{
				color: white;	
			}
			#chat #communication-selection .communication .last-message{
				text-decoration: none;
			}
			#chat #communication-selection .communication.active .last-message{
				color: white;	
			}
			#chat #communication-selection .communication .delete-communication{
				display: block;
				position: absolute;
				top: 10px;
				right: 10px;
				height: 12px;
				width: 12px;
			}
				#chat #communication-selection .communication .delete-communication span{
					height: 2px;
					width: 10px;
					transform-origin: center;
					background: black;
					position: absolute;
					top: calc(50% - 1px);
					left: 0px;
				}
				#chat #communication-selection .communication .delete-communication span:first-of-type{
					transform: rotate(45deg);
				}
				#chat #communication-selection .communication .delete-communication span:last-of-type{
					transform: rotate(-45deg);
				}
			
    #chat #communications{
		height: calc(100vh - 300px);
        display: table-cell;
    }
        #chat #communications .communication{
            display: none;
			height: 100%;
        }
        #chat #communications .communication.active{
            display: block;
        }
            #chat #communications .communication .heading{
				padding-left: 10px;
            }
                #chat #communications .communication .heading .h3{
                    float: left;
					font-weight: 100;
					font-size: .9em;
                }
                #chat #communications .communication .heading .abouts{
                    float: right;
                    background: 0;
                    border: 0;
                    color: blue;
                    font-size: 1em;
                }
            #chat #communications .communication .content{
				height: calc(100% - 104px);
                border-bottom: 1px solid rgb(220,220,220);
            }
                #chat #communications .communication .content .message-group{
                    position: relative;
                }
                    #chat #communications .communication .content .message-group time{
                        display: block;
                        text-align: center;
                    }
					#chat #communications .communication .content .message-group .messages{
						max-width: 60%;
					}
                    #chat #communications .communication .content .message-group.foreign .messages{
                        float: left;
						padding-left: 40px;
                    }
                    #chat #communications .communication .content .message-group.local .messages{
                        float: right;
						padding-right: 40px;
                    }
                        #chat #communications .communication .content .message-group .messages .sender-img{
                            height: 30px;
                            width: 30px;
							position: absolute;
							bottom: 5px;
							left: 5px;
                            border-radius: 15px;
                            margin-right: 0 5px;
                        }
						#chat #communications .communication .content .message-group.local .messages .sender-img{
							left: auto;
                        	right: 5px;
                    	}
						#chat #communications .communication .content .message-group.local .messages .sender-name{
							text-align: right;
                    	}
                        #chat #communications .communication .content .message-group .messages .bubble{
                            width: auto;
                            border-radius: 13px;
                            margin: 5px 0;
                            padding: 0 10px;
                            line-height: 26px;
                            background: rgb(220,220,220);
                        }
                        #chat #communications .communication .content .message-group.local .messages .bubble{
                            background: rgb(0,156,255);
                            color: white;
                        }
            #chat #communications .communication .input{
                padding: 0 10px;
            }
            #chat #communications .communication .input textarea{
				float: left;
				min-height: 30px;
				max-height: 180px;
                width: calc(100% - 100px);
				resize: none;
				margin: 20px 0;
				padding: 5px 20px;
				border-radius: 15px;
				border: 1px solid black;
				font-family: Montserrat;
            }
			#chat #communications .communication .input input[type="submit"]{
				opacity: 0;
				pointer-events: none;
			}