.drag-drop-grid {
  display: grid;
  width: calc(100vw - 50px);
  position: relative;
  margin: 25px auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 300px;
  grid-gap: 20px;
  background: #f0f3f5;
}
@media all and (max-width: 900px) {
  .drag-drop-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.drag-drop-grid.being-modified .tile:not(.grabbed) {
  opacity: 0.5;
}
.drag-drop-grid .tile {
  overflow: hidden;
  position: relative;
  margin: 0;
  background: #87A3B6;
  /*&:before{
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      left: calc0% - 8px);
      border-rads: 8px;
      background: #B81616;
      cursor: pointer;
  }*/
}
.drag-drop-grid .tile .content {
  background: white;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  position: absolute;
  top: 20px;
  left: 20px;
}
.drag-drop-grid .tile .content span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 50px;
  font-size: 50px;
  font-family: monospace;
  color: red;
}
.drag-drop-grid .tile.grabbed {
  position: fixed;
  z-index: 1;
  opacity: 1;
  box-shadow: 6px 6px 5px 4px rgba(0, 0, 0, 0.3);
}
.drag-drop-grid .t-1-1 {
  grid-row-end: span 1;
  grid-column-end: span 1;
}
.drag-drop-grid .t-2-1 {
  grid-column-end: span 2;
  grid-row-end: span 1;
}
.drag-drop-grid .t-1-2 {
  grid-column-end: span 1;
  grid-row-end: span 2;
}
.drag-drop-grid .t-2-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

/*# sourceMappingURL=drag-drop.css.map */
